<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Pull Requests that may need your expert opinion</h3>
    <ul>
      <% @pull_requests.each do |pull_request| %>
        <li>
            <%= link_to(pull_request.display_name, 'https://github.paypal.com/' + pull_request.name) + 
                " opened this " + link_to("Pull Request", pull_request.html_url) + " " + 
                time_ago_in_words(pull_request.opened_at) + " ago"
            %>
        </li>
      <% end %>
    </ul>
    <h3>Leader Board</h3>
      <ul>
        <% @users.each do |user| %>
          <li><%= link_to user.display_name, 'https://github.paypal.com/' + user.name %></li>
        <% end %>  
      </ul>
    <p>With Love</br>
    <a href="http://prmonitor.vip.lvs01.dev.ebayc3.com/">Pull Request Monitor</a></p>
  </body>
</html>