<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Pull Requests that may need your expert opinion</h3>
    <ul>
      <% @pull_requests.each do |pull_request| %>
        <% if (Time.now - pull_request.opened_at > 6.hours) %>
        <li><a href="<%= pull_request.html_url %>"><%= pull_request.html_url %></a> - opened <%= time_ago_in_words(pull_request.opened_at) + " ago"%></li>
        <% end %>
      <% end %>
    </ul>
    <p>With Love</br>
    <a href="http://prmonitor.vip.lvs01.dev.ebayc3.com/">Pull Request Monitor</a></p>
  </body>
</html>